<div class="row">
  <!-- System List -->
  <div class="col col-xs-6">
    <h3>Systems</h3>
    <div ng-repeat="(id, system) in vc.systems.list()"
         class="btn btn-primary btn-block"
         ng-bind="system.name"
         ui-sref="layout.system({systemId:id})"></div>
  </div>

  <!-- Instance List -->
  <div class="col col-xs-6">
    <h3>Instances</h3>
    <div ng-repeat="(id, instance) in vc.instance.list()"
         class="btn btn-primary btn-block"
         ng-bind="instance.name"></div>
  </div>
</div>
