<h3>Relation - <span ng-bind="vc.relation.name"></span></h3>
<textarea class="form-control"
          rows="3"
          placeholder="Description..."
          ng-model="vc.relation.description"></textarea>
<br>

<form class="form-horizontal">

  <!-- DOMAIN -->
  <div class="form-group">
    <label for="domain" class="col-xs-3 control-label">Domain</label>
    <div class="col-xs-9">
      <select id="domain"
              class="form-control"
              ng-model="vc.relation.domain"
              ng-options="parameter.id as parameter.name for (id, parameter) in vc.parameters">
      </select>
    </div>
  </div>

  <!-- CODOMAIN -->
  <div class="form-group">
    <label for="coDomain" class="col-xs-3 control-label">coDomain</label>
    <div class="col-xs-9">
      <select id="coDomain"
              class="form-control"
              ng-model="vc.relation.coDomain"
              ng-options="parameter.id as parameter.name for (id, parameter) in vc.parameters">
      </select>
    </div>
  </div>

  <!-- DATA -->
  <div class="form-group">
    <label for="data" class="col-xs-3 control-label">Data</label>
    <div class="col-xs-9">
      <input type="text"
             class="form-control"
             id="data"
             placeholder="relation"
             ng-model="vc.relation.data">
    </div>
  </div>

</form>



<pre ng-bind="vc.relation|json"></pre>

