<h3>Relation - <span ng-bind="vc.relation.name"></span></h3>
<textarea class="form-control"
          rows="3"
          placeholder="Description..."
          ng-model="vc.relation.description"></textarea>
<br>

<form class="form-horizontal" novalidate>

  <!-- DOMAIN -->
  <div class="form-group">
    <label for="domain" class="col-xs-3 col-md-2 control-label">Domain</label>
    <div class="col-xs-9 col-md-10">
      <select id="domain"
              class="form-control"
              ng-model="vc.relation.domain"
              ng-options="parameter.id as parameter.name for (id, parameter) in vc.parameters">
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-3 col-md-offset-2 col-xs-4 col-md-5">
      Min
      <span ng-bind="vc.parameters[vc.relation.domain].min"></span>
    </div>
    <div class="col-xs-5">
      Max
      <span ng-bind="vc.parameters[vc.relation.domain].max"></span>
    </div>
  </div>

  <!-- CODOMAIN -->
  <div class="form-group">
    <label for="coDomain" class="col-xs-3 col-md-2 control-label">coDomain</label>
    <div class="col-xs-9 col-md-10">
      <select id="coDomain"
              class="form-control"
              ng-model="vc.relation.coDomain"
              ng-options="parameter.id as parameter.name for (id, parameter) in vc.parameters">
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-3 col-md-offset-2 col-xs-4 col-md-5">
      Min
      <span ng-bind="vc.parameters[vc.relation.coDomain].min"></span>
    </div>
    <div class="col-xs-5">
      Max
      <span ng-bind="vc.parameters[vc.relation.coDomain].max"></span>
    </div>
  </div>

  <!-- DATA -->
  <div class="form-group">
    <label for="data" class="col-xs-3 col-md-2 control-label">Data</label>
    <div class="col-xs-9 col-md-10">
      <input type="text"
             required=""
             class="form-control"
             id="data"
             placeholder="relation"
             ng-model="vc.relation.data"
             ng-change="vc.updateRelationData()">
      <p ng-invalid="validateData()" ng-show="vc.relation.data.$invalid">WRONG!</p>
    </div>
  </div>

</form>



<pre ng-bind="vc.relation|json"></pre>
<pre ng-bind="vc.dataValidated"></pre>

