<div class="ditch">

  <h3 ng-bind="systemCtrl.system.name"></h3>


  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

      <h3>Parameters</h3>
      <div ts-list="systemCtrl.parameters"
           on-select="systemCtrl.onSelectParameter"></div>

      <h3>Relations</h3>
      <div ts-list="systemCtrl.relations"
           on-select="systemCtrl.onSelectRelation"></div>

    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div ui-view=""></div>
    </div>
  </div>
  <pre ng-bind="systemCtrl.system|json"></pre>
</div>
