<div class="ts-list">
  <div class="input-group">
    <input ng-model="newEntryName"
           type="text"
           class="form-control"
           placeholder="New Entry..."
           ng-keypress="$event.keyCode===13 && addEntry(newEntryName)">
    <span class="input-group-btn">
      <button class="btn btn-primary"
              type="button"
              ng-click="addEntry(newEntryName)"><span class="glyphicon glyphicon-plus"></span></button>
    </span>
  </div><!-- /input-group -->

  <ul class="list-group">
    <li ng-repeat="(id, entry) in list track by id"
        class="list-group-item">
      <span ng-bind="entry.name"
            ng-click="onSelect(id)"></span>
      <span class="pull-right clickable"
            ng-click="removeEntry(id)">
        <span class="glyphicon glyphicon-minus-sign"></span>
      </span>
    </li>
  </ul>
</div>
